{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type=text/css href="{% static 'css/main.css' %}">
</head>

<body>

    <div class="menu">
        <img class="logo" src="{% static 'img/logo.png' %}">
        <div>
            <a href="{% url 'path_home' %}">Inicio</a>
            <a href="{% url 'path_contacto' %}">Contacto</a>
            <a href="{% url 'path_sobre_nosotros' %}">Sobre Nosotros</a>
            <a href="{% url 'blog:path_listar_articulos' %}">Articulos</a>
        </div>

        <div>
            {% if user.is_authenticated %}
				Hola, {{user.username}}
				<form method="post" action="{% url 'usuarios:path_logout' %}">{% csrf_token %}
					<button type="submit">Logout</button>
				</form>
			{% else %}
				<a href="{% url 'usuarios:path_login' %}">Login</a>
				<a href="{% url 'usuarios:path_registro' %}">Regitro</a>
			{% endif %}
        </div>

    </div>

    {% block contenido %}

    {% endblock contenido %}

</body>

</html>