{% extends 'general/base.html' %}

{% block contenido %}
<div class="info-contacto">
    <h3>Información de Contacto</h3>

    <strong>Teléfono:</strong>
    <p><a href="tel">https://api.whatsapp.com/send?phone=5493624779108</a></p>

    <strong>Correo Electrónico:</strong>
    <p><a href="mailto:info@tusitio.com">info@tusitio.com</a></p>

    <strong>Instagram:</strong>
    <p><a href="instagram">https://www.instagram.com/informatorio/</a></p>

    <strong>YouTube:</strong>
    <p><a href="youtube">https://www.youtube.com/@informatorio-/</a></p>
</div>
{% endblock contenido %}