{% extends 'general/base.html' %}

{% block contenido %}

<div>
    <h1>Detalle del articulo</h1>

    <ul style="display: inline-block;">
        <li>{{articulo.titulo}}</li>

        {% if articulo.imagen %}
        <img src="{{articulo.imagen.url}}" width="200" , height="200">
        {% endif %}

        <li>{{articulo.contenido}} </li>
        <li>Fecha Publicacion: {{articulo.fecha_publicacion}} </li>
        <li>Fecha modificacion: {{articulo.fecha_actualizacion}} </li>
        <li>Autor: {{articulo.autor}} </li>
        <li>Categoria: {{articulo.categoria}} </li>

        <div style="margin-left: 100 px;">
            <h4>COMENTARIOS</h4>
            {% for c in articulo.comentarios.all %}
            <div style="margin-bottom: 15px; border-bottom: 1px solid gray; padding-bottom: 10px;">

                <p><strong>{{ c.autor.username }}:</strong> {{ c.contenido }}</p>
                <small>Fecha: {{ c.fecha_creacion }}</small>

                {% if user == c.autor or user.is_staff %}
                <br>
                <a href="{% url 'blog:path_borrar_comentario' c.pk %}" style="color: red; font-size: 0.9rem;">
                    [Eliminar]
                </a>
                {% endif %}

            </div>
            {% empty %}
            <p>No hay comentarios aún.</p>
            {% endfor %}
            <form method="POST" action="{% url 'blog:path_comentar' articulo.pk %}"> {% csrf_token %}
                <textarea style="width: 400px; height: 200px;" name="texto_comentado"></textarea>
                <button type="submit">COMENTAR</button>
            </form>
        </div>

    </ul>

</div>

{% endblock contenido %}