{% extends 'general/base.html' %}

{% block contenido %}

<div>
    <h1>Detalle del articulo</h1>

    <ul style="display: inline-block;">
        <li>{{articulo.titulo}}</li>

        {% if articulo.imagen %}
        <img src="{{articulo.imagen.url}}" width="200" , height="200">
        {% endif %}

        <li>{{articulo.contenido}} </li>
        <li>Fecha Publicacion: {{articulo.fecha_publicacion}} </li>
        <li>Fecha modificacion: {{articulo.fecha_actualizacion}} </li>
        <li>Autor: {{articulo.autor}} </li>
        <li>Categoria: {{articulo.categoria}} </li>

        <div style="margin-left: 100 px;">
            <h4>COMENTARIOS DEL SISTEMA_</h4>

            <div style="margin-bottom: 30px;">
                {% for c in articulo.comentarios.all %}

                <div style="border-left: 2px solid var(--neon-green); padding-left: 15px; margin-bottom: 20px;">

                    <p style="color: #c9d1d9; font-size: 1rem; margin-bottom: 5px;">
                        {{ c.contenido }}
                    </p>

                    <small style="color: gray;">
                        Comentario de: <strong style="color: var(--neon-green);">{{ c.autor.username }}</strong>
                        el {{ c.fecha_creacion|date:"d/m/Y H:i" }}hs
                    </small>

                </div>

                {% empty %}
                <p style="color: gray; font-style: italic;">No hay registros de actividad. Sé el primero en comentar.
                </p>
                {% endfor %}
            </div>
            <form method="POST" action="{% url 'blog:path_comentar' articulo.pk %}"> {% csrf_token %}
                <textarea style="width: 400px; height: 200px;" name="texto_comentado"></textarea>
                <button type="submit">COMENTAR</button>
            </form>
        </div>

    </ul>

</div>

{% endblock contenido %}