{% extends 'general/base.html' %}

{% block contenido %}

<div>
    <div>
        <h1>SOY EL QUE LISTA LOS ARTICULOS</h1>
        Filtrar por rubro:
        {% for c in categorias %}
        <a href="{% url 'blog:path_filtrado_categoria' c.pk %}"> {{c.nombre_categoria}} </a>
        {% endfor %}
        <a href="{% url 'blog:path_crear_articulo' %}">Crear Articulo</a>

    </div>
    {% for a in articulos %}
    <ul style="display: inline-block;">
        <li>{{a.titulo}}</li>

        {% if a.imagen %}
        <img src="{{a.imagen.url}}" width="200" , height="200">
        {% endif %}

    </ul>
    <ul>
        <li><a href="{% url 'blog:path_detalle_articulo' a.pk %}">Detalle</a></li>
        <li><a href="{% url 'blog:path_modificar_articulo' a.pk %}">Modificar</a></li>
        <li><a href="{% url 'blog:path_eliminar_articulo' a.pk %}">Eliminar</a></li>
    </ul>
    {% endfor %}
</div>

{% endblock contenido %}